---
const pageTitle = "About";  

const happy = true;
const finished = false;
const goal = 3;
---


<div><a href="/">Home</a></div>
<div><a href="/about">About</a></div>
<div><a href="/blog">Blog</a></div>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} >
    <title>{pageTitle}</title>
  </head>
  <body>
    <h1>{pageTitle}</h1>
    {happy && <p>I am happy to be learning Astro!</p>}
    {finished && <p>I finished this tutorial!</p>}
    {goal === 3 ? <p>My goal is to finish in 3 days.</p> : <p>My goal is not 3 days.</p>}
  </body>
</html>